<h2>ejemplo con ngfor</h2>

<p *ngFor="let yo of arr; let i = index;">

    {{i+1}}----{{yo}}
</p>
<!-- ejemplo 2 -->
<p *ngFor="let tabla of numero; let i = index">

    5 x {{tabla}} = {{tabla*5}}
</p>
<!-- ejemplo 3 -->
<div style="background-color: black;">tabla del 8</div>
<p *ngFor="let tabla2 of numero">

    8 x {{tabla2}} = {{tabla2*8}}
</p>
<!-- ejemplo 4 -->
<div style="background-color: black;"> tabla del 7</div>
<p *ngFor="let tabla2 of numero">

    7 x {{tabla2}} = {{tabla2*7}}
</p>
<!-- ejemplo 5 -->
<div style="background-color: black;"> tabla del 7</div>
<p *ngFor="let tabla2 of numero">

    7 x {{tabla2}} = {{tabla2*7}}
</p>
