<div  style=" height: 100px;">
    <h1 class="titulo">Ejemplo con ngIf
    </h1>
</div>
 <!-- ejemplo 2 -->
 <div *ngIf=" calf >=70 " style="background-color: blue;">

    <h1>feliciades has a aprobado</h1>


</div>
<!-- ejemplo 3 -->
<div *ngIf=" (30+20) == suma" style="background-color: aqua;">

    <h1>la suma es {{suma}}</h1>

</div>
<!-- ejemplo 4 -->
<div *ngIf=" (50*2) == multi" style="background-color: blueviolet;">

    <h1>la multiplicacion es {{multi}}</h1>
</div>
<!-- ejemplo 5 -->
<div *ngIf="nombre == 'jose angel'" style="background-color: brown;">

    <h1>Bienvenido {{nombre}}</h1>

</div>