<div class="general">
    <h1 class="title">Guia de Estudio</h1>

    <div class="primer">
        <img class="logo" src="../../../assets/LOGO DEL TECNM.png" alt="">
    </div>
    <div class="segundo">
        <img class="tec" src="../../../assets/TecCuautla.png" alt="">
    </div>
    
    

    <div class="container">

        <div class="proyecto"><h2>Crear un proyecto en Angular</h2>
            <li>Crear un directorio en donde se guardaran todos tus proyectos</li>
            <li>Abri el directorio por consola</li>
            <li>Usar el comando "ng new NombreProyecto"</li>
            <li>Te preguntara si quiere o no(Y/N) instalar angular routing</li>
            <li>Eliges la hoja de estilo que prefieras (CSS)</li>
            <img class="directorio" src="../../../assets/directorio.png" alt="">
        
        </div>
        <div class="componentes">
            <h2>Crear un componente</h2>
            <li>Abrimos nuestro proyecto creado con Visual Studio Code</li>
            <li>Abrimos una terminal en visual (esta terminal ya estara posisicionada en el proyecto) </li>
            <li>escribimos el comando "ng g c components/nombreComponente"</li>
            <img class="compo" src="../../../assets/components.png" alt="">
        </div>
    
        <div class="servicios">
            <h2>Crear Servicios</h2>
            <p>Los pasos son sismilares a crear componentes</p>
    
            <li>Abrimos una terminal en visual con el proyecto abierto</li>
            <li>Escribimos el comando "ng g s Service/nombreCarpeta/nombreServicios"</li>
            <img src="../../../assets/service.png" alt="">
    
        </div>
    
    
    </div>




</div>


