.general{
    /* color: aqua; */
    font-family: cursive;
    /* font-size: 3rem; */
    text-align: center;
    border: solid ;
    padding: 3rem;
    width: 700px;
    /* margin-left: 10rem; */
    display: block;
    margin: 0 auto;
    background-color: aliceblue; 
}
.primer{
    margin-left: -30rem;
    margin-top: -5rem;
}
.segundo{
    margin-left: 30rem;
    margin-top: -6rem;
}
.directorio{
    width: 500px;
}
.compo{
    width: 500px;
    height: 300px;
}
.logo{
    width: 100px;
    height: 100px;
    
}
.tec{
    width: 100px;
    height: 100px;
}

.container{
    background-color: darkgoldenrod;
    padding: 3rem;
    border-radius: 2rem;
    width: 600px;
}
h2{
    color: aliceblue;
    text-align: center;
}
li{
    color: aliceblue;
}
p{
    color: aliceblue;
}