<div class="container">
    <app-componente1></app-componente1>
    <app-componente2></app-componente2>
    <app-componente3></app-componente3>
</div>

<!-- <app-ng-if></app-ng-if>
<app-ng-for></app-ng-for> -->

<!-- <app-guia></app-guia> -->


