.container{
    padding: 3rem;
    border-radius: 3rem;
    border: 2px solid;
    background-color: rgb(255, 94, 0);
}
.description{
    /* border: solid; */
    padding: 1rem;
    border-radius: 2rem;
    /* width: 30rem; */
    margin-top: -10rem;
    background-color: aqua;
}
.image{
    padding: 2rem;
    /* border: solid; */
    margin-left: 35rem;
    width: 200px;
    margin-top: -2rem;
}
.img{
    height: 200px;
    width: 200px;
    border-radius: 10rem;
}
h3{
    font-family: 'Courier New', Courier, monospace;
}