<div class="container">
    <div class="image">

        <img class="img" src="../../../assets/yo.jpg" alt="">
    </div>

    <div class="description">
        <h3>Nombre: Jose Angel Miranda Secundino</h3>
        <h3>Sexo: Masculino</h3>
        <h3>Carrera: Ingenieria en Sistemas Computacionales</h3>
        <h3>Semestre: 8vo</h3>
        <h3>Grupo: 3</h3>
        <h3>Materia: Servicios web</h3>
        <h3>Hobi: Tocar Guitarra</h3>
        <h3>Deporte: MMA y Kenpo Karate Americano</h3>
        <h3>ComidaFav: Salsa Verde con Carne</h3>
        <h3>MusicaFav: Las Rancheras, Corridos, Valadas, Tangos, etc.</h3>
    </div>
    
    

</div>
<br>
