<div class="container">
    <div class="face">
        <!-- <i class='fab fa-facebook'></i>
        <i class='fab fa-facebook' style='font-size:24px'></i> -->
        <a href="https://www.facebook.com/profile.php?id=100087340236421"><i class='fab fa-facebook' style='font-size:36px; color: black;'></i></a>
        
        <!-- <i class='fab fa-facebook' style='font-size:48px;color:red'></i> -->

    </div>
    <div class="whats">
        <a href="https://wa.me/527351736617"><i class='fab fa-whatsapp' style='font-size:36px; color: black;'></i></a>
        

    </div>
    <div class="youtube">
        <a href="https://www.youtube.com/channel/UC11bgQeE0gG7ZId_H6hZodw"><i class='fab fa-youtube' style='font-size:36px; color: black;'></i></a>
        

    </div>
    <div class="twiter">
        <a href="https://twitter.com/Josngel68537607"><i class='fab fa-twitter' style='font-size:36px; color: black;'></i></a>
        

    </div>
    <div class="git">
        <a href="https://gitlab.com/mjoseangel836"><i class='fab fa-github' style='font-size:36px; color: black;'></i></a>
        

    </div>
</div>
