.container{
    /* border: solid;
    border-radius: 2rem; */
    text-align: center;
    width: 35rem;
    margin-left: 27rem;
    display: flex;
    justify-content: space-between;

}
/* .face,
.whats,
.youtube,
.twiter,
.git{

    width: 37px;
    
}
.face{
    margin-top: 5px;
    margin-left: 5rem;
}
.whats{
    margin-top: -32px;
    margin-left: 10rem;
    
}
.youtube{
    margin-top: -35px;
    margin-left: 15rem;
}
.twiter{
    margin-top: -35px;
    margin-left: 20rem;
}
.git{
    margin-top: -39px;
    margin-left: 25rem;
} */