.container{
    padding: 2rem;
    text-align: center;
    border-radius: 3rem;
    border: 2px solid;
    background-color:darkred;
    
    
}
h1{
    font-family: 'Courier New', Courier, monospace;

}