/* You can add global styles to this file, and also import other style files */
/* body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 10px 10px 10px;
  border: 2px solid black;
} */
html {
    background-color: #009f8f;
  }
